* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, arial;
}

h1 {
    text-align: center;
}

body {
    background-image: url(src/img/pexels-flo-dahm-699459.jpg);
}

.loader {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 500px;
    color: #116997;
    text-align: left;
    font-size: 50px;
    font-family: Roboto Mono;
    font-weight: 700;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    &:after {
        content: '_';
    }
}

#main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: large;
    font-size: ;
    margin-top: 300px;
    padding: 50px 50px;
    background-color: white;
    border-radius: 1%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

#img1 {
    width: 100%;
    height: auto;
    background-size: cover;
    opacity: 10%;
}

.nav-wrapper {
    background-color: #116997;
    height: 100px !important;
}

.brand-logo {
    border-radius: 50%;
    border: 3px;
    border-style: solid;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
}