* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, arial;
}

h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    ;
}

p {
    font-family: 'Mukta', sans-serif;
    font-size: larger;
    text-align: left;
}

body {
    background-image: url(src/img/pexels-flo-dahm-699459.jpg);
}

.loader {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 500px;
    color: #116997;
    text-align: left;
    font-size: 50px;
    font-family: Roboto Mono;
    font-weight: 700;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    &:after {
        content: '_';
    }
}

.row {
    margin-top: 150px;
}

#pc {
    margin-left: 50%;
    width: 100px;
}

#notebook {
    width: 500px;
    margin-left: 100px;
    margin-top: 300px;
}

#main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: large;
    font-size: ;
    margin-top: 300px;
    padding: 50px 50px;
    background-color: white;
    border-radius: 1%;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}

#img1 {
    width: 100%;
    height: auto;
    background-size: cover;
    opacity: 10%;
}

.nav-wrapper {
    background-color: #116997;
    height: 100px !important;
}

.brand-logo {
    border-radius: 50%;
    border: 3px;
    border-style: solid;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
}

.page-footer {
    background-color: #116997 !important;
}

@media screen and (max-width: 600px) {
    .loader {
        top: 50%;
        margin-left: 10px;
        width: auto;
    }
    #notebook {
        width: 300px;
    }
    #main {
        margin-top: 50px;
    }
    #pc {
        margin-left: 40%;
    }
}